/* common.css */
/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Apply a box-sizing border-box model to all elements */
* {
  box-sizing: border-box;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #eee;
  width: 100%;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  max-height: 80px;
  margin-right: 10px;
}

h1 {
  margin: 0;
}

/* Navigation styles */
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  position: fixed;
  top: 80px; /* Adjust the top position to avoid covering the header */
  left: 0;
  background-color: #eee;
  padding: 20px;
}

.nav-container a {
  margin-bottom: 10px;
  display: block;
}

.nav-container a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

/* Content container styles */
.content-container {
  display: flex;
  margin-top: 180px;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
  margin-top: 40px; /* Adjust the top margin */
  margin-right: 20px;
}

/* Additional styles for Current Location Weather Page */
.current-location-weather-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Ensure that the navigation menu does not overlap the logo */
.nav-container img {
  margin-bottom: 20px;
}

/* Add more styles as needed */
